streamlit
numpy
pandas
matplotlib
pygame
Pillow
textblob
scipy
altair
plotly
langchain
langchain_community
langchain_openai
langchain_huggingface
huggingface-hub
faiss-cpu
openai
python-dotenv
pypdf
sentence-transformers